/*fuente de google*/

*{
    margin: 0px;
    padding: 0px;
}
#contenedorppal{
    width: 1340px;
    margin: 0 auto;
}
body{
    font-family: "Montserrat", sans-serif;
}
#iso{
    background-image: url(images/isokaff.png);
    background-repeat: no-repeat;
    font-size: 0;
    width: 114px;
    height: 154px;
    float: left;
}
header{
    position: sticky;
    top: 0px;
    background-color: #ffffff;
    width: 1340px;
}
#botonera li{
    display: inline-block;  
    margin-bottom: 20px;
    margin-top: 40px;
    margin-left: 60px;
    display: inline-block;
    background-color: #ffffff;
}
#botonera{
    vertical-align: middle;
    display: inline-block;  
    margin-bottom: 40px;
    margin-top: 40px;
    margin-left: 80px;
}
li a{
    padding: 8px 16px;
    background-color: #EE7019;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    font-size: medium;
    margin-top: -120px;
    text-decoration: none;
}
#botonera a:hover{
    background-color: black;
    color: #EE7019;
}
#nosotros{
    height: 350px;
    background-color: #EE7019;
    color: #ffffff;
    display: inline-block;
}
#nosotros-titulo{
    color:#ffffff;
    padding-bottom: 50px;
    text-align: center;
}
#izq{
    display: 0 0 auto;
    margin-top: 10px;
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
    vertical-align: middle;
}
#nosotros p{ 
    display: inline-block;
    font-size: large;
    color: #ffffff;
    padding-left: 20px;
    width: 600px;
    vertical-align: top;
    margin-top: 50px;
}
section{
    background-color: black;
    height: 500px;
    padding: 50px;
    display: inline-table;
    width: 1240px;
}
#li{
    padding: 100px;
    margin-bottom: 50px;
}
#menu-titulo{
    color:#ffffff;
    padding-bottom: 50px;
    text-align: center;
}
#tabla p{
    color: #ffffff;
}
#ofrecemos{
    margin-bottom: 40px;
}
#menu{
    width: 600px;
    float: left;
    display: block;
}
#menu2{
    width: 600px;
    float: right;
    display: block;
}
.textomenu{
    color: #ffffff;
    width: 400px;
    float: right;
    padding: 0px;
    margin-top: 20px;
    font-size: small;
    display: block;
}
.textomenu2{
    color: #ffffff;
    width: 400px;
    float: right;
    padding: 0px;
    margin-top: 20px;
    font-size: small;
    display: block;
}
#deleitate{
    color: #ffffff;
    padding-left: 20px;
    display: inline-block;
}
#nuestrapasion{
    color: #ffffff;
    padding-left: 20px;
    margin-top: 50px;
    display: inline-block;
}
#catering-titulo{
    color:#ffffff;
    padding-bottom: 50px;
    text-align: center;
}
#catering{
    display: inline-block;
    height: 450px;
    background-color: #EE7019;
}
#catering img{
    float: left;
}
#textocatering p{
    color: #ffffff;
    padding-left: 20px;
    display: inline-block;
    width: 600px;
    margin-top: 50px;
}
.catering{
    display: inline-block;
 }
#hablemos{
    color: #ffffff;
}
#form p{
    color: #ffffff;
    margin: 20px auto;
}
form{
    margin: 0 auto;
    color: #ffffff;
    background-color: #000000;
}
#form{
    background-color: #000000;
    vertical-align: middle;
}
#contacto-titulo{
    color:#ffffff;
    padding-bottom: 50px;
    text-align: center;
    background-color: #000000;
    vertical-align: middle;
    padding: 30px;
}
legend{
    margin-bottom: 20px;
    text-align: center;
}
label{
    margin-left: 120px;
}
label, input, textarea{
    display: block;
    margin-bottom: 10px;
}
label:hover, input:hover, textarea:hover{
    color: #ffffff;
}
input, textarea{
    border-radius: 10px;
    background-color: #ffffff;
    width: 1000px;
    margin-left: 120px;
}
input{
    height: 30px;
}
input:hover{
    background-color: #EE7019;
}
textarea:hover{
    background-color: #EE7019;
}
#botonenviar{
    width: 1000px;
    height: 30px;
    margin-left: 120px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #EE7019;
    color: #ffffff;
}
#botonenviar:hover{
    background-color: #ffffff;
    color: #000000;
}
#mapa{
    background-color: #EE7019;
    height: 380px;
    vertical-align: middle;
    width: 1240px;
}
#ubicacion-titulo{
    color:#ffffff;
    padding-bottom: 50px;
    text-align: center;
    background-color: #EE7019;
    vertical-align: middle;
    padding: 30px;
}
footer{
    font-family: "Montserrat", sans-serif;
    height: 100px;
    background-color: #000000;
    padding-top: 10px;
    text-align: center;
    vertical-align: middle;
    color: #EE7019;
    width: 1340px;
}
#kaff{
    color: #ffffff;
    text-decoration: none;
    padding-top: 10px;
}
footer p{
    padding: 10px 10px 0px 0px;
}
footer a{
    background-color: none;
    background-image: image(img/instagram);
    padding: 10px 20px 0px 15px;
}
